html, body {
  height: 100%;
}

.container {
  margin: auto;
  width: 40%;
  padding: 0px;
  font-size: 0px;
}

.navbar {
  margin: 100px auto;
}

button {
  width: 200px;
  height: 50px;
  box-shadow: 5px 5px grey;
}
